body{
  background-color: #7c858b;
  color: #eaeaea;
}

.glyphicon-thumbs-up{
  font-size: 200%;
}

.glyphicon-thumbs-up:hover{
  cursor:pointer;
}

.glyphicon-star-empty{
  color: yellow;
}

.questionBox{
  padding-bottom: 30px;
}

.answerBox{
  padding-bottom: 50px;
}

.thumbNumber{
  display: inline;
}

.questionLink{
  color: #687176;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 35px 25px 65px 25px;
  margin: 15px 20px 15px 0px;
  border-bottom: 3px solid darkgrey;
  border-right: 3px solid darkgrey;
}

.onClick :active{
  transform: translateY(2px);
  border: none;
  margin-bottom: 17px;
}

.questionLink a{
  color: #687176;
}

.notes{
  font-style: italic;
}

ul{
  list-style: none;
}

.addFavoritesButton{
  color: black;
}

.newQuestionBox{
  background-color: lightgrey;
  padding: 20px 15px;
  border-radius: 5px;
  color: #1a1a1a;
  border-bottom: 5px solid darkgrey;
  border-right: 5px solid darkgrey;
}

h1,h2,h3, h5{
  font-family: 'Josefin Slab', serif;
}

.quark{
  font-size: 100px;
  margin-bottom: none;
  text-align: center;
}

.questionEverything{
  font-size: 30px;
  text-align: center;
  margin-top: none;
}

.container{
  margin-bottom: 70px;
}
