body{
  background-color: #7c858b;
  color: #eaeaea;
}

a{
  color: darkgrey;
}

ul{
  list-style: none;
}

.newQuestionBox{
  background-color: lightgrey;
  padding: 20px 10px;
  border-radius: 5px;
  color: #1a1a1a;
  border-bottom: 5px solid darkgrey;
  border-right: 5px solid darkgrey;
}

h1,h2,h3,h4{
  font-family: 'Josefin Slab', serif;
}

.quark{
  font-size: 100px;
}

.container{
  margin-bottom: 30px;
}
