body{
  background-color: #7c858b;
  color: #eaeaea;
}

.questionLink{
  background-color: lightgrey;
  border-radius: 5px;
  padding: 20px 25px;
  margin: 25px 0px;
  border-bottom: 3px solid darkgrey;
  border-right: 3px solid darkgrey;
}

.questionLink a{
  color: #687176;
}

.notes{
  font-style: italic;
}

ul{
  list-style: none;
}

.newQuestionBox{
  background-color: lightgrey;
  padding: 20px 15px;
  border-radius: 5px;
  color: #1a1a1a;
  border-bottom: 5px solid darkgrey;
  border-right: 5px solid darkgrey;
}

h1,h2,h3{
  font-family: 'Josefin Slab', serif;
}

.quark{
  font-size: 100px;
}

.container{
  margin-bottom: 70px;
}
