<div class="container">
  <div class="page-header">
    <h1 class="quark">Quark</h1>
    <h5 class="questionEverything">Question Everything</h5>
  </div>
  {{outlet}}
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Quark</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">All Questions</a></li>
      </ul>
    </div>
  </nav>
</div>
