<div class="container">
  <div class="page-header">
    <h1 class="quark">Quark</h1>
    <h5 class="questionEverything">Question Everything</h5>
  </div>
  {{outlet}}
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="navbar-header">
        {{#link-to 'index' class="navbar-brand"}}Quark{{/link-to}}
      </div>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}Home{{/link-to}}</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">All Questions</a></li>
        <li>{{#link-to 'saved-questions'}}Favorites{{/link-to}}</li>
      </ul>
    </div>
  </nav>
</div>
