<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    {{index-dsplay questions=model}}
  </div>
  <div class="col-sm-3 newQuestionBox">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
