<div class="row">
  <div class="col-sm-7 col-sm-offset-1">
    <h1>Newest Questions</h1>
    <ul>
    {{#each model as |question|}}
      <li><h4>{{#link-to 'question' question.id}}{{question.question_text}}{{/link-to}}</h4></li>
    {{/each}}
    </ul>
  </div>
  <div class="col-sm-3 newQuestionBox">
    {{new-question saveQuestion="saveQuestion"}}
  </div>
</div>
